img {
  width: 150px;
  margin: 2%;

}

.picture {
  border-radius: 400px;
}

p {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  padding: 2%;
}

h2 { 
  margin-left: 5%;
}

.card {
  align-content: center;
}

.form {
  margin-left: 20%;
  padding: 2%;
}
