.header {
  background: #006D77;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 200px;
}

image {
  align-content: center;
  width: '100px';
  margin: '20px';
}

